html, body {
  width: 100%;
  height: 100%;
  background-color: #FEC1C8;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.card-list {
  width: calc(100% - 10px);
  max-width: 800px;
  list-style: none;
  padding: 0;
  margin: 30px;
}

.grid-cont {
  width: calc(100% - 20px);
  max-width: 600px;
  margin: 10px 0;
  padding: 5px;
  background: white;
}

.card-list > li {
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-list > li {
    width: calc(50% - 10px);
  }

  .header {
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  .logo {
    display: block;
    margin: auto;
    height: 75px;
    width: 75px;
  }

  .onblack {
    position: relative;
    width: 7px;
    height: 7px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .onblack:before,
  .onblack:after{
    position: absolute;
    width: 7px;
    height: 7px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #000000;
  }
  .onblack:before{
    bottom: 0px;
    left: -3.5px;
  }
  .onblack:after{
    top: -3.5px;
    right: 0px;
  }

  .ongrey {
    position: relative;
    width: 7px;
    height: 7px;
    background-color: #BBBBBB;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .ongrey:before,
  .ongrey:after{
    position: absolute;
    width: 7px;
    height: 7px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #BBBBBB;
  }
  .ongrey:before{
    bottom: 0px;
    left: -3.5px;
  }
  .ongrey:after{
    top: -3.5px;
    right: 0px;
  }

  .heartwrapper {
    display: flex;
    padding-left: 13px;
    padding-top: 7px;
  }


}